.landing-welcome {
    position: absolute;
    width: 100%;
    top: 10%;

    color: var(--ion-color-primary-contrast);
}

.landing-actions {
    position: absolute;
    width: 100%;
    top: 60%;
}

/*ion-img::part(image) {
    width: 50%;
    align-items: center;
}*/
