<ion-content [fullscreen]="true">

    <!-- Add workout button-->
    <ion-fab slot="fixed" horizontal="end" vertical="bottom">
        <ion-fab-button color="primary" [routerLink]="['/' + mainRoute.NEW_WORKOUT + '/' + mainRoute.BASIC_INFORMATION]">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <ion-card class="ion-activatable ripple-parent rounded-rectangle" color="light">
        <ion-ripple-effect></ion-ripple-effect>

        <ion-grid>
            <ion-row>
                <ion-col size="9">
                    <ion-card-header>
                        <ion-card-title class="font-weight-bold">Strength plan</ion-card-title>
                        <ion-card-subtitle>
                            <ion-icon name="calendar-outline"></ion-icon>
                            19.6.'23 - 19.8.'23 (8 weeks)
                        </ion-card-subtitle>
                    </ion-card-header>

                    <ion-card-content>
                        <ion-text>This plan provides strength and compounds exercise. Its good to build strength and
                            muscles.
                        </ion-text>
                    </ion-card-content>
                </ion-col>
                <ion-col size="3">
                    <div class="d-flex h-100 align-content-center">
                        <ion-img
                            src="../assets/activities/gym-light.png"
                            alt="The Gym Planner logo transparent"
                        ></ion-img>
                    </div>

                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>
</ion-content>
